<picture>
  <source srcset="/img/VonageLogo_Primary_White.png" media="(prefers-color-scheme:dark)">
  <img src="/img/VonageLogo_Primary_Black.png" alt="Vonage logo">
</picture>
<h2>Home</h2>
<p>This application demonstrates some of the <a href="https://developer.vonage.com/en/documentation" target="_blank">Vonage Communications APIs</a>. 
It uses the <a href="https://developer.vonage.com/en/messages/overview" target="_blank">Messages API</a> to send SMS and WhatsApp messages, 
the <a href="https://developer.vonage.com/en/voice/voice-api/overview" target="_blank">Voice API</a> to make a voice call and play text-to-speech into it,
and the <a href="https://developer.vonage.com/en/video/overview"  target="_blank">Video API</a> to create a video call.
</p>
<p class="notice">Click on the menu links in the header to try out the different APIs.</p>