<!-- <picture>
  <source
    srcset="/img/VonageLogo_Primary_White.png"
    media="(prefers-color-scheme:dark)"
  />
  <img src="/img/VonageLogo_Primary_Black.png" alt="Vonage logo" />
</picture>
<h2>Home</h2>
<p>
  This application demonstrates some of the

  <a href="https://developer.vonage.com/en/video/overview" target="_blank"
    >Video API</a
  >
  to create a video call.
</p>
<p class="notice">
  Click on the menu links in the header to try out the different APIs.
</p> -->
