<h2>Home</h2>
<p>This application demonstrates some of the Vonage Communications APIs. 
It uses the Messages API to send SMS and WhatsApp messages, the Voice API to make a voice call and play text-to-speech into it,
and the Video API to create a video call.
</p>
<p>Click on the menu links to try out the different APIs.</p>