<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
		<script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
		<title>Vonage Demo: Hack This Fall 2024</title>
	</head>
	<body>
		<header>
			<h1>Vonage Demo: Hack This Fall 2024</h1>
			<nav>
				<a href="/">Home</a>

				<a href="/video/new">Video</a>
			</nav>
		</header>
		
		<%- body %>
	</body>
</html>