<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        margin-top: 10px;
        font-family: Arial, sans-serif;
      }

      header {
        text-align: center;
        margin-bottom: 20px;
      }

      nav {
        margin-top: 10px;
      }

      a {
        display: inline-block;
        padding: 10px 20px;
        margin: 0 10px;
        text-decoration: none;
        color: #fff;
        background-color: #3498db; /* Choose your preferred color */
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      body > * {
        max-width: 600px;
        width: 100%;
        box-sizing: border-box;
      }
    </style>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <title>CardEasePro</title>
  </head>
  <body>
    <header>
      <h1>Empower Your Finances with <br />CardEasePro</h1>
      <h4>Click on Video to Start E-KYC</h4>
      <nav>
        <a href="/">Home</a>
        <a href="/video/new">Video</a>
      </nav>
    </header>

    <%- body %>
  </body>
</html>
