<!-- <h2>Create a Video Call</h2> -->
<!-- <p>This creates a Video Call using the <a href="https://developer.vonage.com/en/video/overview" target="_blank">Vonage Video API</a>.</p> -->

<!-- new.ejs -->
<form
  action="/video/create"
  method="post"
  style="text-align: center; margin-top: 20px"
>
  <input
    type="submit"
    value="Start Video Call"
    style="
      padding: 10px 20px;
      font-size: 16px;
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    "
  />
</form>
