<h2>Create a Video Call</h2>
<p>This creates a Video Call using the <a href="https://developer.vonage.com/en/video/overview" target="_blank">Vonage Video API</a>.</p>

<form action="/video/create" method="post">
<input type="submit" value="Start Video Call" />
</form>