<h2>Create a Voice Call</h2>
<form action="/voice/create" method="post">
    <label for="number">Number:</label>
    <input
      id="number"
      type="text"
      name="number" />
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
    <input type="submit" value="Make Call" />
  </form>