<h2>Create a Voice Call</h2>
<p>This <a href="https://developer.vonage.com/en/voice/voice-api/code-snippets/making-calls/make-an-outbound-call-with-ncco" target="_blank">creates a Voice Call and plays text-to-speech into it</a> using the <a href="https://developer.vonage.com/en/voice/voice-api/overview" target="_blank">Vonage Voice API</a>.</p>

<form action="/voice/create" method="post">
    <label for="number">Number:</label>
    <input
      id="number"
      type="text"
      name="number" />
    <label for="message">Message:</label>
    <textarea id="message" name="message"></textarea>
    <input type="submit" value="Make Call" />
  </form>